doctype html
html(lang="en")
  head
    //allies form
    p Username
    input(type=t)
    p First Name
    input(type="text", name="firstname")
    br
    p Last Name
    input(type="text", name="lastname")
    br
    p E-mail Address
    input(type="text", name="email")
    br
    // office location
    // phone

    // other users
    // username
    // phone
  body